http://2.26.87.66 {
  redir https://{$PUBLIC_BASE_URL_HOSTNAME}{uri} permanent
}

{$PUBLIC_BASE_URL_HOSTNAME} {
  encode gzip zstd

  @api path /health /healthz /telegram/* /webhooks/* /auth/* /admin/*
  reverse_proxy @api app:3000

  reverse_proxy web:3001
}
